@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@300;400&display=swap');

:root {
  --bg-color:#131722;
  --main-font: 'Montserrat Alternates', sans-serif;
  --light-bg:#24baef;
  --font-color:#fff;
}

body {
  background-color: var(--bg-color);
  font-family: var(--main-font);
  color: var(--font-color);
  
}
a {
  text-decoration: none;
  color: var(--font-color);
}
.curser-pointer {
  cursor: pointer;
}
.bordr {
  height: 1px;
  background-color: #a8a8a83d !important;
}
.vote {
  background-color: var(--light-bg);
}

.offline {
  background-color: var(--bg-color);
  box-shadow: 10px 10p 10px #ccc;
  padding: 20px;
  position: fixed;
  bottom: 20%;
  left: 20px;
  z-index: 9999;
}

.my-inputs {
  background-color: transparent;
  border: 1px solid #a8a8a83d;
  color: var(--font-color);
}
